*{
    padding: 0;
    margin: 0;
   
    
    color: aliceblue;
    
    box-sizing: border-box;
    
}

main{
    background: linear-gradient(to bottom right, rgb(11, 11, 108), rgb(6, 149, 80),rgb(176, 7, 103));
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 20px;
}

.landingPage{
    background-image: url("hotel.png");
    padding-top: 0px;
    padding-bottom: 20px;
}



.heading{
    text-align: center;
    padding: 10px;
    color: white;
    padding-bottom: 150px;
    font-size: 60px;
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 3px white,1px 1px 5px #000000b0, 2px 2px 4px rgb(23, 8, 240),0px 0px 20px rgb(255, 102, 0);
    
}

.quote{
    text-align: left;
    font-size: 40px;
    margin-left: 30px;
    font-weight: 350;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px; 
    color: white;
    background-color: transparent;
    font-style: italic;
    text-shadow: 0px 0px 5px white;
    
}



.headingPara{
    
    color: white;
    background-color:transparent;
    padding-top: 30px;
    text-align: center;
    padding-top: -10px;
    padding-bottom: 20px;
    margin-left: 30%;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 3px white;
    background-color: rgba(0, 0, 0, 0.405);
    letter-spacing: 2px;
    line-height: 30px;
    margin: 3px;
}


ul.topnav {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ff4b0a;
    font-family: 'Courier New', Courier, monospace;
   
}

ul.topnav li {
    float: left;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.521);
    padding-bottom: 10px;
    border-right: 2px solid white;
    border-left: 3px solid rgb(255, 25, 0);

    
    
}
ul.topnav li:last-child {
    border-right: none;
    border-bottom-right-radius: 13px;
}

ul.topnav li:first-child {
    border-left: none;
    border-top-left-radius: 13px;
}

ul.topnav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    
}


ul.topnav li:hover{
    background-color: #f70303;
    color: white;
    transition: 0.5s;
    border: 5px solid white;
    border-left: 5px solid rgb(255, 25, 0);
    border-style: ridge;
    font-size: 20px;
    text-shadow: 0px 0px 5px white;
    font-weight: bolder;
}

.types{
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.feature{
   
    
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 60px;
    width: 70%;
    
}
.imgtype{
    text-align: center;
}

th, td {
    width: 150px;
    padding: 10px;
    text-align: left;
    border: 1px solid #f70303;
}


th {
    background-color: #f70303;
}


ul {
    padding-left: 30px;
    background-color: transparent;
}


.booknow{
    text-align: center;
    text-decoration: underline;
    padding-top: 30px;
    padding-bottom: 50px;
    border: 2px solid white;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 20%;
    background-color: aliceblue;
    color: #06053e;
    font-weight: bolder;
    text-shadow: 0px 0px 3px rgb(162, 198, 234);
   
}

.booknow:hover{
    background-color: #f70303;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 10px #f70303, 0px 0px 20px #f70303, 0px 0px 30px #f70303;
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    
    background-color: #fdfdfd;
}
#footpara{
    color: rgb(0, 0, 0) ;
    background-color: transparent;
    padding-right: 50px;
    font-weight: bold;
}




